@page "/admin"       
   
<div class="wrapper">
        <div class="logo">
            <img src="https://www.flaticon.com/download/icon/2202112?icon_id=2202112&author=250&team=250&keyword=Man&pack=2202089&style=Flat&style_id=133&format=png&color=%23000000&colored=2&size=512%2C256%2C128%2C64%2C32%2C24%2C16&selection=1&premium=&type=standard&token=03ANYolquZMl7zqr4Ss5A1A24sN5WtKDKcmE-mz4cSreMUmTUiSlmwbGB9Qgk88sNU1u6kyTA_70e232Vu1hyJyAyJiFN4JMM9rtwMYv3Z4ustS4A75md0Mb_sppCKsKF8yTV_IWjAkxJpH4hRl5vtjYQ5ZD24qeNpFQJn3yzJHuV9zFJDIOLrtZSQNA96hIA3EsGuMZnIdtmtrd_dNTRZ7cx0SBJq56mmx4S6wszQeoMzdwgpSTR-mvmNlcnIdr91qhJPz_UAJrLiW1VUwFAd2pVy6b-aNbH3wruQ4hCetN-64xmfHsfvxMNGEuZqNthhuloX6P1a1hY8IQBgs9DkUNZ7dkLZGTsH4zNJwqEDcn0yLnqVI-Y_pgqP1_TWdI2vWChBd26Pn_W8ugdxumlIXrAp2BvxH_7lr-vEawK_mhIYROG1520Lbh7UjcDtCHm4Z0er2C9EGNFruI7vdwfiHpPR1wj6RE4VmeTG5LUhXNK7TvVGZw8tm_ty6rSVQiMRWWK8XKQb7w_uIxaegTkpLCFKp-jmEzjTeglLR1PpwNcquGkkBI-BTablTMP4yoJ6Zc0HxvcRMog6jDEmAfgwr1rzGHypGox45psRnTRl6FQBLoRdrSNQZLRPGZADnnmV1JwFgP4dNu9BHqL4yUlSHZSDOdMSuhD2_Ll8SDyUpEePImpo2WSnOBbk8Dqb5N1THujiuws3VtTlnlIRoAaKXY29mZRbs32sfQa7BILSqSRxWEnVs_5b65rND6bgfIsF1tYMPKgdflJ4PPs61_OAeWkh6qOXfKpsD1cV7YHfpLtv6VR3jVWgbmW_4tsLXK7b52MtRAPE3MZpOfOw0vu7_EB9m2gaEX6vZDgVJ8ytpJMiRLK2VM11HXg_YKsz_7vdjYLjYJj0Ym95IFkowutrWvlZCpMYWf5JlVRsuCERhaiStCOom9tgHVNqxsOF98ccfIty9CE3CbGPMDzm4T3OJCEB3JYOZCA2tArIVqgOvoVlc-R7iSXXY9ZK2aRT7YVVDbSIxyFhK0OeAnE8MGzBFynJs1di4sHiZER_DFZr5YGRZGsp6wtiNBAM-W2swRsGihWcBqRy4SSwkE3BlnQ_Yu90y5pix1QfNtf1j8njKDlcf2LxC8pkUadsdKyCB0Hy9j1a35DyhWDdVXD1wufVEjATmefpI7OFo9RbscCpXL6cVXZqLQHey7_NbX9xI4o8HEbl8FwovGV1VNnqB_PtxQdrsbwhXJlX3HGIF8onpprnRFi6U5QahJjPQ48b3aXavW0A9sVGmlDTe3RsZaq3UdDV55FvgXuloowonFVamRUF6_7ym1AHnh1Bk2KK8-U_py-6PaZoV_2nlOQr7_66_Nv4a6OblDRgWtdNkj5bEGC8KywOV_nMvmU&search=user" alt="">
        </div>
        <div class="text-center mt-4 name">
            Admin's Account'
        </div>
        
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input  type="text" name="userName" id="userName" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button class="btn mt-3"  >Login</button>
        </form>
       
    </div>



@code{

 }