<section class="">
  <footer class="text-center text-black" style="background-color:white">
    <div class="text-center p-3" bg-black>
      ©2022 Copyright
      <lable class="text-black" >CMSL HR</lable>
    </div>
  </footer>
</section>