@inherits LayoutComponentBase

<PageTitle>CMSI HR</PageTitle>

   <NavMenu></NavMenu>

<div class="main">
  

        <div class="content px-4">
            @Body
        </div>
<Footer></Footer>
</div>
